langchain
langchain-community
langchain-groq
langchain-chroma
langchain-huggingface
langchain-core
langchain-text-splitters
chromadb
groq
pypdf
streamlit
python-dotenv
ragas
datasets
sentence-transformers
tiktoken
pandas
huggingface-hub